# See ntpd.conf(5) and /etc/examples/ntpd.conf
listen on '{{ ansible_all_ipv4_addresses[0] }}'
listen on 127.0.0.1
sensor *

{% for constraint in openntpd_constraints %}
  constraint from '{{ constraint }}'
{% endfor %}

{% for server in remote_ntp_servers %}
  server '{{ server }}'
{% endfor %}
